body {
    background-color: #E7E7DE;
    padding: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  h1, h2, h3, ul, li, form, #submitBtn {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    color: #004561;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    float: right;
    padding-left: 3px;
  }

  .title-section {
    display: inline-block;
  }

  a {
    color: #3bb1b9;
    font-weight: bold;
    text-decoration: none;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }

  ul.header {
    background-color: #9bc4c7;
    padding: 0;
  }

  ul.header li a {
    color: #004561;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .active {
    background-color: #AAD8D3;
  }

  .content {
    background-color: #F4F3F3;
    padding: 20px;
  }

  .content h2 {
    padding: 0;
    margin: 0;
  }

  .content li {
    margin-bottom: 10px;
  }

  .form-box label {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin: 0 0 2vh 0;
  }

  .form-box input {
    display: inline-block;
    width: 70%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 16px;
  }

  #submitBtn {
    display: inline-block;
    height: 2.5rem;
    background-color: #9bc4c7;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #004561;
    font-weight: bold;
    border-radius: 7px;
  }

  #submitBtn:hover {
    background-color: #AAD8D3;
  }